<h1>Add Country</h1>
    <br>
    <br>
    <form action="/addCountries" method="POST">
  
        <label for="cCode">Country Code:</label>
        <input type="text" id="cCode" name="co_code"><br><br>
        <label for="cName">Country Name:</label>
        <input type="text" id="cName" name="co_name"><br><br>
        <label for="CDetails">Country Details:</label>
        <textarea type="text" id="CDetails" name="co_details"></textarea>
        <input type="submit" value="Add">
      </form>
      <a href="./">Home</a>
      