<h1>Add Heads of State</h1>
    <br>
    <br>
     <!-- sends data too /addHeadOfState too create new row-->
    <form action="/addHeadOfState" method="POST">
  
        <label for="cCID">Country ID:</label>
        <input type="text" id="cCID" name="_id"><br><br>
        <label for="cName">Head Of State Name:</label>
        <input type="text" id="headOfState" name="headOfState"><br><br>
        <input type="submit" value="Add">
      </form>
      <a href="./">Home</a>