<h1>Countries</h1>
<form action="./addCountries">
    <input type="submit" value="Add Country" />
</form>
<table>
    <tr>
        <th>Country Code</th>
        <th>Country Name</th>
        <th>Country Details</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <% countries.forEach((country)=> { %>
        <tr>
            <td><%= country.co_code %></td>
            <td><%= country.co_name %></td>
            <td><%= country.co_details %></td>
            <td>
            <form action="./updateCountries">
                <input type='submit' value='Update'/></td>
            </form>
            <td>
            <form action="/listCountries/:" method="GET"></form>
                <input type='button' value='Delete'></td>
            </form>
        </tr>
    <% }) %>
</table>