<h1>Countries</h1>
<form action="./addCountries">
    <input type="submit" value="Add Country" />
</form>
<table>
    <tr>
        <th>Country Code</th>
        <th>Country Name</th>
        <th>Country Details</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <!--Gets data from index.js loops through it and displays it-->
    <% countries.forEach((country)=> { %>
        <tr>
            <td><%= country.co_code %></td>
            <td><%= country.co_name %></td>
            <td><%= country.co_details %></td>
            <td>
            <form action="./updateCountries">
                <input type='submit' value='Update'/></td>
            </form>
            <!--links too delete method in index.js-->
            <td>
                <a href="/countries/<%= country.co_code %>"> <button type="button">Delete</button></a>
            </td>
        </tr>
    <% }) %>
</table>
<a href="./">Home</a> 